<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">>

    <title>Starter Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="theme.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css' >
    <link rel="stylesheet" href="css/font-awesome.min.css">
  
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>

    <script type="text/javascript">
    $(function(){
        if (!location.hash) { location.replace('#main'); }
        $('ul.nav a').filter(function() {
            return this.href == url;
        }).parent().addClass('active');
    });
    </script>


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

<body>
<nav class="navbar navbar-expand-md bg-dark fixed-top navbar-dark">
<a class="navbar-brand" href="#main">Wolfgang E. Kerzendorf</a>
  <!-- Links -->
  <ul class="navbar-nav ml-auto">
  <li class="nav-item">
      <a class="nav-link" href="#research">Research</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="#cv">CV</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#publications">Publications</a>
    </li>
  </ul>

</nav>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-2">
<div class="sticky-top">
    <br><br>
    <img src="img/wekerzendorf_100px.jpeg" width=100px alt="Wolfgang Kerzendorf" class="img-rounded">
    <p class="text-left"> Assistant Professor <br>
        Michigan State University</p>
    <p class="text-left">
        <i class="icon-map-marker pull-left"></i>
        <span style="display: inline-block;">
            Biomedical-Physical Sciences Building
            567 Wilson Rd., Room 3250 </br>
            East Lansing </br>
            48823 MI </br>
            United States </br>

        </span>
    </p>
    <p class="text-left"> <i class="icon-envelope pull-left"></i>
        &#119;&#107;&#101;&#114;&#122;&#101;&#110;&#100;&#111;&#114;&#102;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109; </p>
    <p class="text-left"> <i class="icon-github pull-left"></i> <a href="http://github.com/wkerzendorf">wkerzendorf</a></p>
    <p class="text-left">
    <div itemscope itemtype="https://schema.org/Person"><a itemprop="sameAs" content="https://orcid.org/0000-0002-0479-7235" href="https://orcid.org/0000-0002-0479-7235" target="orcid.widget" rel="noopener noreferrer" style="vertical-align:top;horizontal-align:left"><img src="https://orcid.org/sites/default/files/images/orcid_16x16.png" style="width:1em;margin-right:.5em;" alt="ORCID iD icon">https://orcid.org/0000-0002-0479-7235</a></div>
    </p>
</div>
</div>
          <!--Sidebar content-->    <div class="col-md-10">
      <div class="bs-docs-section">
        <div class="content" id="main">
          I'm an interdisciplinary researcher trying to bridge the fields of astrophysics and machine learning. 
I work as a Assistant Professor at the <a href="https://pa.msu.edu/">Department of Physics & Astronomy and Computational Mathematics, Statistics, & Engineering</a> (Michigan State University)
where I started in 2019. My group's website can be found at <a href="https://kerzendorf-lab.github.io/">https://kerzendorf-lab.github.io/</a>.

I am the lead-author and PI of the open-source radiative transfer code <a href=https://github.com/tardis-sn/tardis>TARDIS</a>.            <br><br><br>
          I started my journey in beautiful Munich in southern Germany and finished my high-school there. 
My first alma-mater is the <a href=https://www.uni-heidelberg.de/en>Universität Heidelberg</a> where I studied till after 
my Vordiplom in physics. Fate and copious help by one of my first mentors - the late 
<a href=https://www.iau.org/administration/membership/individual/3612>Rainer Wehrse</a> - brought me 
to Mount Stromlo Observatory working with <a href=https://www.mso.anu.edu.au/~brian/>Brian Schmidt</a> as a summer research scholar and later PhD. 
I finished my thesis, titled
<a href=https://digitalcollections.anu.edu.au/bitstream/1885/10267/2/02Whole_Kerzendrof.pdf>"Type Ia Supernovae: Progenitors and explosions"</a>, in
2011. I then moved to the University of Toronto
with <a href="http://www.astro.utoronto.ca/~mhvk/">Marten van Kerkwijk</a> as a I was a Postdoctoral Research Fellow.

From late 2014 to 2018 I was an ESO Fellow at the <a href="http://www.eso.org/">European Southern Observatory</a>. I stayed at NYU (working in <a href=https://cosmo.nyu.edu/~mmodjaz>Maryam Modjaz</a>'s group) and the Flatiron institute until mid-2019.           <br><br>
        </div>
        <div id="research" class="content">
          <br><br><br>
My research interests are astrophysics as well as machine learning. Sometimes these interests overlap - sometimes they don't.

Students (undergraduate/graduate) that are interested in any of these projects please <a href = "mailto: wkerzend@msu.edu">contact me</a>. 
<br><br><br>

<h3> Astrophysics </h3>
A supernova marks the brilliant death throes of a star, during which it outshines its entire galaxy. Through their explosive stellar death, supernovae enrich the Universe with new elements necessary for the formation of planets and life as we know it. From the iron in your blood to the silicon in your laptop, supernovae are responsible for producing many important elements from the primordial hydrogen and helium left over from the big bang.
<hr>

<div class="card-columns">
<!--     <div class="card">
        <div class="card-body">
        <h4 class="card-title">Supernova Research</h4>
        <p class="card-text"> Exploding stars are also known as supernovae. I'm particularly intrigued by hydrogen-poor supernovae (<a href="https://en.wikipedia.org/wiki/Type_Ia_supernova">Type Ia</a> and
<a href="https://en.wikipedia.org/wiki/Type_Ib_and_Ic_supernovae">Type Ib/c</a>): Why do some explosions in the Universe not show the most abundant element? </p>
        </div>
    </div> -->
<div class="card">
    <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cb/Cassiopeia_A_Spitzer_Crop.jpg/788px-Cassiopeia_A_Spitzer_Crop.jpg" alt="">
    <div class="card-body">
    <h4 class="card-title">Supernova remnants</h4>
    <p class="card-text">Supernova remnants are sites of former explosion with roughly 300 of them found in our own Milky Way. I search for surviving companions in these remnants - which can tell us about the evolution of the exploded star. The vicinity can also tells us about the type of star exploded.
</p>
    </div>
    <div class="card-footer">
    <!-- <a href="#" class="btn btn-primary">Find Out More!</a> -->
    </div>
</div>
<div class="card">
    <img class="card-img-top" src="https://raw.githubusercontent.com/tardis-sn/tardisanalysis/master/docu/images/kromer_plot_example.png" alt="">
    <div class="card-body">
    <h4 class="card-title">Supernova radiative transfer</h4>
    <p class="card-text">Supernova spectra and their evolution contain a lot of information about the explosion and the progenitor star. TARDIS calculates synthetic spectra of supernovae given a model of the explosion. We then tweak the model until the synthetic spectra match the observations to infer the parameters of the exploded star. </p>
    </div>
    <div class="card-footer">
    <!-- <a href="#" class="btn btn-primary">Find Out More!</a> -->
    </div>
</div>
<div class="card">
    <img class="card-img-top" src="https://cdn.vox-cdn.com/thumbor/aFvh_Cn52yOlmcLBc0sRvgFbiu0=/0x0:4096x2500/1820x1213/filters:focal(1721x923:2375x1577):format(webp)/cdn.vox-cdn.com/uploads/chorus_image/image/60521685/eso1825d.0.jpg" alt="">
    <div class="card-body">
    <h4 class="card-title">Stars near Black Holes</h4>
    <p class="card-text">Around the millions of solar mass black-hole at the center of our Galaxy there is a star cluster. Are these stars born near there? Did they originate somewhere else and migrated there?
</p>
    </div>
    <div class="card-footer">
    <!-- <a href="#" class="btn btn-primary">Find Out More!</a> -->
    </div>
</div>
</div>
<hr>
<h3> Data Science </h3>
<div class="card-columns">
<div class="card">
    <img class="card-img-top" src="img/emulator_exploration.png" alt="">
    <div class="card-body">
    <h4 class="card-title">Emulators</h4>
    <p class="card-text">An important step to learning from observations is to compare them with simulations. However, many simulations are too expensive and have too many free parameters to directly compare. Emulators are machine learning constructs (we use Gaussian Processes and Deep Neural Networks) that allow to emulate a simulator at a fraction of the computational cost and allow for comparison with observations.</p>
    </div>
    <div class="card-footer">
    <!-- <a href="#" class="btn btn-primary">Find Out More!</a> -->
    </div>
</div>
<div class="card">
    <img class="card-img-top" src="img/spec_perfect.png" alt="">
    <div class="card-body">
    <h4 class="card-title">Full modelling of raw spectral data</h4>
    <p class="card-text">Spectral data taken at the telescope comes in the form of a 2D image. My research tries to use data science techniques and physical models to extract well-calibrated 1D spectra from the raw data. 
</p>
    </div>
    <div class="card-footer">
    <!-- <a href="#" class="btn btn-primary">Find Out More!</a> -->
    </div>
</div>
<div class="card">
    <img class="card-img-top" src="img/astrometry_dd.png" alt="">
    <div class="card-body">
    <h4 class="card-title">Data driven astrometry</h4>
    <p class="card-text">Astrometry extracts the movement of stars (proper motion) from image time-series. The different weather, intrinsic distortions in the imager, and image artifacts make this process very complex. I am researching a technique that uses well measured proper motion of stars to find a data driven way to infer astrometry.
</p>
    </div>
    <div class="card-footer">
    <!-- <a href="#" class="btn btn-primary">Find Out More!</a> -->
    </div>
</div>
</div>
<hr>
<h3> Natural Language Processing and Information Science</h3>
<div class="card-columns">
<div class="card">
    <img class="card-img-top" src="img/word_cloud_arxiv.png" alt="">
    <div class="card-body">
    <h4 class="card-title">DeepThought Search</h4>
    <p class="card-text">A usual way to find papers with related ideas is to follow the citations in the paper and references to the paper. I am researching methods to find similar paper using the content - an implementation can be found at <a href=http://deepthought.space/deepthought>DeepThought search</a>
</p>
    </div>
    <div class="card-footer">
    <!-- <a href="#" class="btn btn-primary">Find Out More!</a> -->
    </div>
</div>
<div class="card">
    <img class="card-img-top" src="img/knowledge_group_vs_ref_knowledge.png" alt="">
    <div class="card-body">
    <h4 class="card-title">Finding experts using DeepThought</h4>
    <p class="card-text">While ancient scientist often have patrons to fund their work, peer review of proposals for the allocation of resources is a foundation of modern science. I research methods to identify experts to evaluate proposals and paper manuscripts. 
The first experiment was conducted at the European Southern Observatory and the result can be found here. 
</p>
    </div>
    <div class="card-footer">
    <!-- <a href="#" class="btn btn-primary">Find Out More!</a> -->
    </div>
</div>
<br>
</div>

<!-- <strong>Astrophysics:</strong> I focus on stars before, during, and after explosion (exploding stars are also known as supernovae). In my supernova research, I'm particularly intrigued by hydrogen-poor supernovae (<a href="https://en.wikipedia.org/wiki/Type_Ia_supernova">Type Ia</a> and
<a href="https://en.wikipedia.org/wiki/Type_Ib_and_Ic_supernovae">Type Ib/c</a>): Why do some explosions in the Universe not show the most abundant element? 
I approach this question from two sides: 1) What was their life like before the explosion? 2) How can we reconstruct the explosion from observations?
For the first topic, I search for former companions that have survived the explosion and can be seen at the site of former explosions (so called supernova remnants ?? insert picture here ??)
I am trying to reconstruct the explosion by using the radiative transfer code <a href="https://tardis-sn.github.io/tardis/">TARDIS</a> developed by me and my team.

I'm not only interested in explosion. I also am interested in understanding the composition of stars. In particular, I want to understand the unusual elemental abundances in the star cluster around the Milky Way's supermassive black hole. <br>

<br><strong>Machine Learning</strong>

Wikipedia writes that "Data science is a concept to unify statistics, data analysis, machine learning and their related methods in order to understand and analyze actual phenomena with data.". I use and research these techniques for various problems. 

Exploring observed spectra of supernovae and stars with sophisticated models is difficult as the parameter space is often large and the models are computationally expensive. I am researching ways to speed up this process by using Emulators. Emulators are machine learning constructs that learn to "emulate" simulations to high accuracy but with computational cost orders of magnitudes less.

Machine Learning has also given us new techniques to analyze and calibrate our data. I started a project while working with the Science Data Group at ESO to think about novell
ways to extract measurements from raw spectral data. In particular, I am developing a
method to use all available information using a statistical framework when extracting
spectra from
<a href="https://www.eso.org/sci/facilities/paranal/instruments/xshooter.html">X-Shooter</a> data.
I plan to extend such techniques to other measurements such as photometry and spectroscopy. <br><br>

<strong> Natural Language processing and information science </strong>

Astrophysicists currently publish roughly 15000 papers per year (<a href=https://arxiv.org/help/stats/2018_by_area/index>statistics</a>). This likely means that we are losing track of what we know and what we do not know. I believe that this can be viewed as a big data problem that can rely on the tools and techniquest currently developed. My first project in this direction was a search engine to find similar papers: <a href=http://deepthought.space/deepthought>DeepThought</a>. The second project is to use this techniqe for a smarter more streamlined refereeing process. 
My lofty goal is to make a machine that can answer any astrophysics question from literature also being able to give the answer "We do not know".

<br><strong>Research Philosophy</strong>
My research is tied together with an interest in numerical methods,
novel algorithms and the idea of open software as well as
<a href=https://en.wikipedia.org/wiki/Open_collaboration>open collaboration</a>.
-->         </div>

        <div id="publications" class="content">
          <embed src="img/publications.pdf" width="960" height="1024" alt="pdf" pluginspage="http://www.adobe.com/products/acrobat/readstep2.html">
        </div>

        <div id="cv" class="content">
          <embed src="img/wekerzendorf_cv.pdf" width="960" height="1024" alt="pdf" pluginspage="http://www.adobe.com/products/acrobat/readstep2.html">
        </div>

        </div>
      </div>
    </div>
  <!-- Bootstrap core JavaScript -->
</body>
</html>
