{%- macro relativize_link(link) -%}
    {%- if TEMPLATE_LEVEL == 0 -%}
        {{- link -}}
    {%- else -%}
        {%- set parts = [] -%}
        {%- for idx in range(TEMPLATE_LEVEL) -%}
            {%- do parts.append("..") -%}
        {%- endfor -%}
        {{- parts|join("/") ~ "/" ~ link -}}
    {%- endif -%}
{%- endmacro -%}

{%- macro format_years(row) -%}
    {%- if row.get("start_date") is string -%}
        {{ row["start_date"][:4] }} - 
        {%- if row.get("end_date") is string -%}
            {{ row["end_date"][:4] }}
        {%- else -%}
            Present
        {%- endif -%}
    {%- elif row.get("date") is string -%}
        {{ row["date"][:4] }}
    {%- endif -%}
{%- endmacro -%}

