<nav class="navbar navbar-expand-md bg-dark fixed-top navbar-dark">
<a class="navbar-brand" href="#main">Wolfgang E. Kerzendorf</a>
  <!-- Links -->
  <ul class="navbar-nav ml-auto">
  <li class="nav-item">
      <a class="nav-link" href="#research">Research</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="#cv">CV</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#publications">Publications</a>
    </li>
  </ul>
</nav>